
@{
    ViewBag.Title = "HasAppointment";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<br />
<br />
<br />
<h2>You still have ongoing appointment schedule. Please reschedule or cancel your appointment first before proceeding.</h2>
<br />


<div>
    @Html.ActionLink("Back", "Index")
</div>


