
@{
    ViewBag.Title = "EmailVerified";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Your Account has been Successfully verified.</h2>

<div>
    @Html.ActionLink("Click here to Login", "Login", "Logs")
</div>