
@{
    ViewBag.Title = "TryDataTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TryDataTable</h2>

<div class="col-lg-12">

    <table class="display" id="example">
        <thead>
            <tr>
                <th>
                    Employee Name
                </th>
                <th>
                    Department
                </th>
                <th>
                    Salary
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>IT</td>
                <td>500</td>
            </tr>

            <tr>
                <td>Mike</td>
                <td>IT</td>
                <td>300</td>
            </tr>

            <tr>
                <td>Luis</td>
                <td>IT</td>
                <td>302</td>
            </tr>
        </tbody>
    </table>

</div>
@*<script>
        $(document).ready(function () {
            $("#MyDataTable").DataTable();
        });
    </script>*@
