
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<br />
<br />
<br />
<h2>About</h2>


<p>ViVi is AVAILABLE for FRANCHISE Nationwide. <br>Make beauty happen! Open a ViVi in your place Now!
    <br>#FastROI #PHTopFacialServiceAwardee #PHTopSkinCareAwardee.</p>