
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br />
<br />
<br />
<h2>Contact Details</h2>
<div>


    <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fdir%2F%3Fapi%3D1%26destination%3D6.4990506758882%252C124.84669604933%26fbclid%3DIwAR1N2yVXsdS1XyDFGSVW6ygUDUdp2Ze12vZj7OSgRw9zixOFwre_bFIu65o&h=AT1cEa6aqsJIoUSoeySmn7o1hpCJJNt5v4aEBqoF7ujo-RvyvYx1E_7q5oocHkPRGGmY2_Gmmvh_gxFfkN0jrJHRAo3OOljsbQgogOsCsSs1oSfkD-cTXsDJjK2XJnazI-tH3eAIYKokgNKnQ5wGaA" target="_blank" class="Facebook"> <i class="fa fa-fw fa-compass"></i>Address</a></a>

    <p>
        4F KCC Mall of Marbel 9506, <br />

        Sergio Osmeña Street, Poblacion,<br /> Koronadal City, South Cotabato
    </p>
</div><div>
    <a href="https://www.facebook.com/ViViTheFacialEssenceGroup/" target="_blank" class="Facebook"> <i class="fa fa-fw fa-facebook"></i>Facebook</a></a>

</div>

<i class="fa fa-fw fa-envelope"></i>Email: vivianinon@gmail.com
<br />
<i class="fa fa-fw fa-mobile"></i>0917 702 6023