
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@*<h2>Index</h2>*@

<body>
    <img style="width:100%; height:100%;" src="~/Content/images/vivibackground.jpg" />
    </body>
@*<body background="~\Content\images\vivibackground.jpg;">
    
</body>*@


